.app {
    border-color: $dark_blue;
    border-width: $s_size;
    border-style: solid;
    max-width: 50rem;
    margin: auto;
    margin-top: $xl_size;
    background: $off_black;
    border-radius: $xl_size;
}