.flex-tosser-container  {
    display: flex;
    flex-direction: column;
}

.flex-headline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-button-container {
    display: flex;
    flex-direction: row;
}

.flex-result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text-align {
    text-align: center;
}

.title {
    color: black;
    font-weight: bold;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-color: $off_orange;
    border-radius: $xs_size;
    padding: $xs_size;
    font-size: $m_size;
    margin: $xs_size;
    //shadow
    -webkit-box-shadow: 1px 1px 2px 2px darken($off_light_red, 10%);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 2px 2px darken($off_light_red, 10%);  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 2px 2px darken($off_light_red, 10%);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.results {
    color: black;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: $off_red;
    padding: $m_size;
    margin: $xs_size;
    width: 2.4rem;
    height: 2rem;
    box-shadow: 0px 0px 3px 3px darken($off_light_red, 10%)
}

.results:hover {
    background-color: lighten($off_red, 10%)
}

.tosser {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-color: $off_light_red;
    border-radius: $s_size;
    padding: $m_size;
    font-size: $m_size;
    margin: $m_size;
    //shadow
    -webkit-box-shadow: 1px 1px 3px 4px darken($off_black, 10%);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 4px darken($off_black, 10%);  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 4px darken($off_black, 10%);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

input {
    border-radius: $l_size;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    padding: $s_size;
    border: none; 
    background: $off_white;
}

input:hover {
    box-shadow: 0px 0px 3px 3px darken($off_light_red, 10%);
    background: lighten($off_white, 10%);
    transition: box-shadow 0.2s ease-in-out;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
    border-radius: $s_size;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    padding: $s_size;
    background: $off_white;
    border: none;
}

select:hover {
    box-shadow: 0px 0px 3px 3px darken($off_light_red, 10%);
    background: lighten($off_white, 10%);
    transition: box-shadow 0.2s ease-in-out;
}

button {
    border-radius: $l_size;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: $m_size;
    font-weight: bold;
    padding: $xs_size;
    background: $off_red;
    height: $l_size;
    border: none;
}

button:hover {
    box-shadow: 0px 0px 3px 3px darken($off_light_red, 10%);
    background: lighten(white, 10%);
    transition: box-shadow 0.2s ease-in-out;
}