.header {
    background: $off_orange;
    color: $dark_blue;
    padding: $m_size 0 0 0;
    text-align: center;
    max-width: 50rem;
    margin: auto;
    border-radius: $l_size;
}

.header__title {
    padding: $m_size 0 0 0;
    font-size: $xl_size;
}

.header__hr {
    background: $off_light_red;
    padding: $s_size 0;
    margin-top: 0;
    border: 0;
}

.header__subtitle {
    background: $off_red;
    padding: $m_size 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}