.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $off_red;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l_size;
    text-align: center;
    word-break: break-all;
}