@import "@material/button/mixins";

.button-alternate {
  @include mdc-button-container-fill-color($off_red);
  font-size: $s_size;
  font-weight: bold;
  margin-bottom: $m_size;
  flex-grow: 1;
  margin: $m_size;
}

.button-alternate-modal {
    @include mdc-button-container-fill-color($off_orange);
    font-size: $s_size;
    font-weight: bold;
    margin-bottom: $m_size;
    margin: $m_size;
  }