html {
    font-size: 62.55%;
}

body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: $m_size;
    background-image: linear-gradient($dark_blue, white);
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}