// Colors

$off_orange: #fcbb6d;
$off_red: #d8737f;
$off_light_red: #ab6c82;

$off_black: #475c7a;
$off_white: #a5afd7;
$purple: #8357c5;
$xs_size: 0.8rem;
$s_size: 1.2rem;
$m_size: 1.6rem;
$l_size: 3.2rem;
$xl_size: 4.8rem;
$dark_blue: #333745;
$blue: #3c4251;
$light_blue: #464b5e;
$desktop_breakpoint: 45rem;